.index-heading {
  @include font-size(3rem);

  @include media-breakpoint-up(lg) {
    @include font-size(4rem);
  }
}

.service {
  &__img-wrapper {
    @include media-breakpoint-up(lg) {
      width: 59.1%;
    }
  }

  &:nth-of-type(even) {
    .service__img-wrapper {
      @include media-breakpoint-up(lg) {
        margin-left: auto;
      }
    }
  }

  //description 外面需要再包一層 wrapper 並且設定 display:flex 的原因是，如果單純靠 description 本身 transform，
  //會使 aos 的 transform 動畫受影響
  &__description-wrapper {
    @include media-breakpoint-up(lg) {
      position: absolute;
      display: flex;
      align-items: center;
      top: 0;
      right: 0;
      width: 44.6%;
      height: 100%;
    }
  }

  &:nth-of-type(even) {
    .service__description-wrapper {
      @include media-breakpoint-up(lg) {
        left: 0;
        right: auto;
      }
    }
  }
}

.success-sotries {
  //需要再包一層 outer 的原因同 .service__description-wrapper
  &__description-outer {
    height: 100%;
    margin-top: -160px;

    @include media-breakpoint-up(lg) {
      position: absolute;
      display: flex;
      align-items: center;
      top: 0;
      right: 0;
      margin-top: 0;
    }
  }
}

.success-sotries__description {
  @include media-breakpoint-up(lg) {
    width: 70%;
  }

  &:last-child {
    @include media-breakpoint-up(lg) {
      margin-top: -40px;
    }
  }
}

.success-sotries-bg {
  background-color: #f5f5f5;
}

.newsletter-input {
  background-color: #f1f1f1;
}

.contact-info {
  position: relative;
  color: #000;

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: $primary;
    transition: width .5s;
  }

  &:hover {
    color: $primary;
    &::after {
      width: 100%;
    }
  }
}

.contact-info__arrow {
  color: #000;
  transition: transform .4s, color .4s;

  .contact-info:hover & {
    color: $primary;
    transform: translateX(10px);
  }
}
