.hero-section2 {
  background-image: url('../../assets/images/mobile/index/Hero Section2.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  @include media-breakpoint-up(lg) {
    background-image: url('../../assets/images/desktop/index/Hero Section2.png');
  }
}
